[defaults]

# Show time of each playbook run
callback_whitelist = profile_tasks
gathering = smart
internal_poll_interval = 0.0001

# Disable hostkey checks and force handlers
host_key_checking = False

# Point inventory at specific set of data
inventory = ./inventory

# Disable retry files
retry_files_enabled = false

[inventory]
# fail if inventory fails:
unparsed_is_failed=true

